@use "../mixins/mixins.scss";
@use "../mixins/function.scss";
@use "../mixins/_var.scss";

$font-size: () !default;
$font-size: map-merge(
  (
    "small": 12px,
    "base": 14px,
    "medium": 16px,
    "large": 18px
  ),
  $font-size
);

$font-family: () !default;
$font-family: map-merge(
  $map1: (
    "":
      "'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif"
  ),
  $map2: $font-family
);

$colors: () !default;
$colors: map-merge(
  $map1: (
    "white": #ffffff,
    "black": #000000,
    "bilibili": #00a1d6,
    "default": #ff0000
  ),
  $map2: $colors
);

$color-white: map-get(
  $map: $colors,
  $key: "white"
) !default;
$color-black: map-get(
  $map: $colors,
  $key: "black"
) !default;
$color-bilibili: map-get(
  $map: $colors,
  $key: "bilibili"
) !default;
$color-default: map-get(
  $map: $colors,
  $key: "default"
) !default;
$theme-color: $color-default;

$bg-colors: () !default;
$bg-colors: map-merge(
  $map1: (
    "white": $color-white,
    "black": $color-black,
    "default": $color-default,
    "bilibili": $color-bilibili,
    "progress": hsla(0, 0%, 100%, 0.2),
    "buffer": hsla(0, 0%, 100%, 0.3),
    "toast": hsla(0, 0%, 8%, 0.9),
    "tooltip": rgba(25, 25, 25, 0.88)
  ),
  $map2: $bg-colors
);

$text-colors: () !default;
$text-colors: map-merge(
  $map1: (
    "": hsla(0, 0%, 100%, 0.8),
    "white": $color-white
  ),
  $map2: $text-colors
);

$z-index: () !default;
$z-index: map-merge(
  $map1: (
    "": 1,
    "control": 10,
    "poster": 20,
    "loading": 30,
    "context-menu": 40,
    "toast": 50
  ),
  $map2: $z-index
);
