body {
  width: 100%;
  height: 100%;
}

#video {
  height: 300px;
  width: 600px;
  resize: both;
  overflow: auto;
  margin: 100px auto;
}

.fsplayer_video-wrapper {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
  overflow: hidden;
  user-select: none;
  transform: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  max-width: 100%;
  max-height: 100%;
  outline: none;
  touch-action: none;
  object-fit: cover;
  cursor: pointer;
}