// mixins
@use "./mixins/mixins.scss" as *;
@use "./mixins/function.scss" as *;
@use "./common/var.scss" as *;

@use "var";
// component style

@use "controller";
@use "control-item";
@use "volume";
@use "fullScreen";
@use "speed";
@use "progress";
@use "shadowProgress";
@use "icon";
@use "tooltip";
@use "time";
@use "setting";
@use "contextmenu";
@use "poster";
@use "loading";
@use "switch";

.fs-player {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
  background-color: black;
  font-family: getCssVar("font-family");
  overflow: hidden;

  video {
    max-width: 100%;
    max-height: 100%;
    outline: none;
  }

  &.no-cursor {
    cursor: none;
  }

  &[data-ctrl-hidden="true"] {
    @include b(control) {
      @include b(control-mask) {
        opacity: 0;
      }

      @include b(control-bar) {
        opacity: 0;
      }
    }
  }

  &[data-ctrl-hidden="false"] {
    @include b(control) {
      @include b(control-mask) {
        opacity: 1;
        transition: opacity 0.2s ease-in;
      }

      @include b(control-bar) {
        opacity: 1;
        transition: opacity 0.2s ease-in;
      }
    }
  }
}

@keyframes fsplayer-loading {
  0% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.55;
  }
  100% {
    opacity: 0.25;
  }
}
